/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
font-family: "Work Sans", serif; */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary-bg{
    background-color: #fff8f3;
}
/* primary color */
.primary-color{
    color: #F01818 ;
}
.dark-2{
    color:#474747 ;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none ;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}

.section-description{
    font-size: 18px;
    color:#757575 ;
}

.header{
    background-image: url(/images/developer.png),url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: center left,bottom right;

}

/* navstyle */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}

.banner{
    display: flex;
    
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: 800;
    font-size: 85px;

}
.banner-description{
    font-size: 18px;
}
.banner-profile-picture{
    width: 580px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    margin-right: 50px;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin: 50px;
    
}
nav ul a{
    text-decoration: none;
    font-size: 20px ;
    color: black;
}

.main{
    max-width: 1140px;
    margin: 0 auto;

}
.main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    padding: 5px;
}
.item-description{
    font-weight: 600;
}

.skills{
    text-align: center;
    margin: 100px;
    padding: 5px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}

.resume{
    padding: 20px;
    
}
.resume > h3{
    text-align: center;
}

.resume-container{
    display: flex;
    gap: 100px;
    padding: 5px 300px;
    
}

.experience-description , .experience-subtitle{
    color: #757575;
}

.experience-subtitle{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin: 30px;
}
.text-center{
    text-align: center;
}

/* footer style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"],footer input[type="email"],footer textarea{
    height:64px;
    border-radius:5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: larger;
    
}

.footer >.footer-column h4{
    margin-bottom: 20px;
    padding: 200px;
}

.icon{
    display: flex;
    justify-content: start;
    gap: 20px;

}